@{
    ViewData["Title"] = "Sobre";
}

<div class="px-5">
    <h1>@ViewData["Title"]</h1>

    <p>
        Esse projeto foi feito para o case no processo seletivo da <a
            href="https://www.linkedin.com/company/vilavelhacorretora/">Vila Velha</a> por mim (<a
            href="https://www.linkedin.com/in/jaonolo/">@@jaonolo</a>).</br>
        Obrigado por me dar essa oportunidade de mostrar um pouco do que eu sei!
    </p>
</div>
