@using System.Reflection;
@using System.ComponentModel.DataAnnotations

<div class="modal fade" tabindex="-1" id="task-details-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="task-details-title"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="task-details-body">
                <div class="mb-1">
                    <h6 class="fw-bold">Descrição</h6>
                    <p id="task-details-description"></p>
                </div>
                <div class="d-flex justify-content-between date-time">
                    <h6 class="fw-bold">Data e hora:</h6>
                    <p id="task-details-datetime"></p>
                </div>
            </div>
            <div class="modal-footer">
                <select class="form-select" id="task-details-status" aria-label="Default select example">
                    @foreach (var status in
                    Enum.GetValues(typeof(vilavelha_case.Models.TaskStatus)).Cast<vilavelha_case.Models.TaskStatus>())
                    {
                        var display = status.GetType()
                        .GetMember(status.ToString())
                        .First()
                        .GetCustomAttribute<DisplayAttribute>()
                        ?.GetName() ?? status.ToString();

                        <option value="@status">@display</option>
                    }
                </select>
            </div>
        </div>
    </div>
</div>